<h2>
  COURSES
  <br/>
</h2>
{{text | summary:10}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{{course.title | uppercase | lowercase}}<br/>
{{course.students | number}}<br/>
{{course.rating | number:'2.1-1'}}<br/>
{{course.price | currency:'AUD':true:'3.2-2'}}<br/>
{{course.relaseDate | date:'shortDate'}}<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  {{getTitle()}}

<h2 [textContent]="title"></h2>
<ul>
  <li *ngFor="let course of courses">{{course}}</li>
</ul>
<img src="{{imageUrl}}"/>
<img [src]="title"/>
<table>
  <tr>
    <td [attr.colspan]="colSpan"></td>
  </tr>
</table>
<div (click)="onDivcClicked()">
  <button (click)="onSave($event)">Save</button>
</div>
<input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()"/>
<input [(ngModel)]="email" (keyup.enter)=" onKeyUp()"/>
